 /**
  * Start styles for each component
  *
  * */
body {
  margin-left: 0;
  margin-right:0;
}

.pageTitle {
  width: 100%;
  height: 20vh;
  background-color: #525659;
  border: 1px solid #525659;
  display: grid;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  width: 90%;
  font-size: 60px;
  align-self: center;
}

h1,
h2 {
  margin: 0;
  color: #fff;
  padding-left: 30px;
}

