<app-header></app-header>
<section class="new">
  <div class="new__description">
    <div class="new__description-content">
      <section class="headerNew">
        <h4>{{ new.story_title }}</h4>
        <div>{{ new.created_at | date: 'short' }}</div>
      </section>
      <section class="bodyNew">
        <p class="bodyNew__text">{{ new.comment_text }}</p>
        <p class="bodyNew__author">{{ new.author | titlecase }}</p>
      </section>
      <section class="urlNew">
        <div class="link" *ngIf="new.url !== null">Link ==> <a class="link__url" href="{{ new.url }}" target="_blank">{{ new.url }}</a></div>
        <div class="buttonCss">
          <a class="button__home" routerLink="/home" routerLinkActive="active">Go Home</a>
        </div>
      </section>
    </div>
  </div>
</section>
