.new {
  width: 100%;
  border: 1px solid #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.new__description-content {
  height: auto;
  padding-bottom: 50px;
}

.headerNew{
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: center;
}

h4 {
  color: #000000;
  font-size: 30px;
}

.headerNew div {
  padding-right: 30px;
  align-self: flex-end;
  color: #757070;

}

.bodyNew {
  display: flex;
  flex-direction: column;
}

.bodyNew__text {
  padding: 20px;
  text-align: justify;
  font-size: 20px;
  color: #494747;
}

.bodyNew__author {
  align-self: center;
  font-size: 15px;
  font-family: verdana;
  font-weight: bold;
}

.urlNew {
  display: flex;
  flex-direction: column;
}
.link {
  padding-left: 20px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.buttonCss {
  height: 50px;
  width: 100%;
  padding-top: 30px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__home {
  border: 1px solid #333;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.button__home:hover {
  background-color: #000430;
  font-size: 20px;
}


