.news {
  padding: 10px 0 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
}

ul {
  padding: 0;
  margin: 0;
}

.news__date,
h3 {
  color: #333;
  font-size: 13px;
}

h3 {
  width: fit-content;
  text-align: left;
  display: grid;
  grid-gap: 10px;
}

.news__title {
  cursor: pointer;
  grid-column: 1/2;
}

.news__author {
  cursor: pointer;
  grid-column: 2/2;
  color: #999;
}

.new__content {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 10px;
  border-bottom: 1px solid #a6aaad;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-gap: 10px;
  vertical-align: middle;
}

.news__button {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.new__content:hover {
  background-color: #fafafa;
}

.new__content:hover .news__button-text {
  display: inline;
}

.noNews {
  margin-top:50px;
  width: 100%;
  height: 67vh;
  color: #333;
  font-size: 50px;
  text-align: center;
}

.news__button-text {
  width: 30px;
  cursor: pointer;
  display: none;
}
