<app-header></app-header>
<section class="news">
  <div class="noNews" *ngIf="news.length === 0">No more news to show</div>
  <ul>
    <div *ngFor="let new of news, index as i">
      <div class="new__content">
        <div [routerLink]="['/new', new._id]" routerLinkActive="active" class="content">
          <h3>
            <strong class="news__title"> {{ new.story_title }} </strong>
            <div class="news__author">
              - {{ new.author }} -
            </div>
          </h3>
          <p class="news__date">
            {{ new.created_at | timeago }}
          </p>
        </div>
        <div class="news__button">
          <img class="news__button-text" (click)="deleteItem(new._id, i)" src="./assets/trash.png">
        </div>
      </div>
    </div>
  </ul>
</section>
